.user {
  width: 100%;
  padding-top: calc(12px + 1.5625vw);
  padding-left: 3rem;

  &_greeting {
    font-size: 48px;
    font-weight: 500;
    color: var(--black);

    span {
      color: var(--primary);
      margin-left: 1rem;
    }
  }

  &_status {
    margin-top: 0.75rem;
  }
}

.data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100vw - 117px);
  padding-left: 3rem;
  padding-top: 1.5rem;

  &_graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 1.6rem;
    padding-right: 1.25rem;
    width: 76%;

    .multicharts {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
  }
}
