.user {
  width: 100%;
  padding-top: calc(12px + 1.5625vw);
  padding-left: 3rem;

  &_greeting {
    font-size: 48px;
    font-weight: 500;
    color: var(--black);

    span {
      color: var(--primary);
      margin-left: 1rem;
    }
  }

  &_status {
    margin-top: 0.75rem;
  }
}

.data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100vw - 117px);
  padding-left: 3rem;
  padding-top: 1.5rem;

  &_graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 1.6rem;
    padding-right: 1.25rem;
    width: 76%;

    .multicharts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 258px), 1fr));
      gap: 1rem;
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 3rem;

      .sessions,
      .performances,
      .scores {
        display: flex;
        justify-content: center;
        width: 258px;
        height: 263px;
        border-radius: 5px;
      }

      .sessions {
        background-color: var(--primary);
      }

      .performances {
        background-color: var(--darkgrey);
        justify-self: center;
      }

      .scores {
        background-color: var(--lightgrey);
        justify-self: flex-end;
        @media screen and (max-width: 1248px) {
          justify-self: flex-start;
        }
      }
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
  }
}
