:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #ff0000;
  --black: #020203;
  --darkgrey: #282d30;
  --lightgrey: #fbfbfb;
  --textgrey: #74798c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
